<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <system.web>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="WseSettings.WseExtensionImporter, WseSettings3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=97707682dce9a66b" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <compilation>
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
  <microsoft.web.services3>
    <tokenIssuer>
      <statefulSecurityContextToken enabled="true" />
    </tokenIssuer>
    <security>
      <securityTokenManager>
        <add type="WSECode.CustomAuthManager, WSECode" 
             namespace="http://docs.oasis-open.org/wss/2004/01/..." 
             localName="wsse:UsernameToken" />
      </securityTokenManager>
    </security>
  </microsoft.web.services3>
  <appSettings>
    <add key="localhost.BookService" value="http://localhost/Web06/BookService.asmx" />
  </appSettings>
</configuration>